{% extends 'base.html' %}
{% block title %}Blog{% endblock %}

{% block content %}
<!-- Row -->
<div class="row">
    <!-- Blog entries-->
    <div class="col-lg-8">
        <!-- Featured blog post-->
        {% if post and post.image %}
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="{{ post.image.url }}"
                    alt="{{ post.title }}" /></a>
                <div class="card-body">
                    <div class="small text-muted">{{ post.updated_at }}</div>
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.content|truncatewords:30 }}</p>
                    <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
            </div>
        {% endif %}
        <!-- Nested row for non-featured blog posts-->
        {% if posts %}
            <div class="row">
                {% for post in posts %}
                    {% if post.image %}
                        <div class="col-md-5 mb-4">
                            <div class="card" style="width: 100%;">
                                <a href="#!"><img class="card-img-top" src="{{ post.image.url }}"
                                    alt="{{ post.title }}"></a>
                                <div class="card-body text-dark">
                                    <div class="small text-muted">{{ post.updated_at }}</div>
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.content|truncatewords:10 }}</p>
                                    <a href="" class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <!-- Pagination-->
        <nav aria-label="Pagination">
            <hr class="my-0" />
            <ul class="pagination justify-content-center my-4">
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                        aria-disabled="true">Newer</a></li>
                <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                <li class="page-item"><a class="page-link" href="#!">2</a></li>
                <li class="page-item"><a class="page-link" href="#!">3</a></li>
                <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                <li class="page-item"><a class="page-link" href="#!">15</a></li>
                <li class="page-item"><a class="page-link" href="#!">Older</a></li>
            </ul>
        </nav>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
        <!-- Search widget-->
        <div class="card mb-4">
            <div class="card-header">Search</div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Enter search term..."
                        aria-label="Enter search term..." aria-describedby="button-search" />
                    <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                </div>
            </div>
        </div>
        <!-- Categories widget-->
        <div class="card mb-4">
            <div class="card-header">Categories</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled mb-0">
                            {% if categories %}
                                {% for category in categories %}
                                    <li><a href="#">{{ category.name }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#!">JavaScript</a></li>
                            <li><a href="#!">CSS</a></li>
                            <li><a href="#!">Tutorials</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Side widget-->
        <div class="card mb-4">
            <div class="card-header">Side Widget</div>
            <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and
                feature the Bootstrap 5 card component!</div>
        </div>
    </div>
</div>
{% endblock %}